extends layout.pug 

block content
  div.container
    h2 Create a task 

    form.form(action="/create" method='POST')
      label Responsible person for the task
      input.input(type="text" name="title" placeholder="Name...")

      label Task description
      textarea.input(type="text" name="description" value="task" placeholder="Task...")

      button.button Create task