doctype html
html(lang="en")
    head
        title To Do App 
        link(rel='stylesheet' href='/static/styles.css')
    body 
      header.navbar
        h1 
          a(href="#") To Do Application

        nav.nav
          a(href="/tasks") All tasks

      block content