extends layout.pug 

block content
  div.contain
    h1 All tasks 

    each task in tasks
      div.task-wrapper
        a.task(href=`/tasks/${ tasks.id }`) #{ task.name }
        a.remove(href='#') remove task
    